.listed-events {
    width: 40%;
    overflow-y: auto;
    height: 100%;
    padding-right: 1em;
    padding-left: 1em;
}

/* Custom scrollbar for WebKit browsers */
.listed-events::-webkit-scrollbar {
    width: 0.6em; /* Width of the scrollbar */
}

.listed-events::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 0.625em;
    margin-top: 2em; /* Add margin to the top of the scrollbar track */
    margin-bottom: 2em; /* Add margin to the bottom of the scrollbar track */
}

.listed-events::-webkit-scrollbar-thumb {
    background: #0ddd11; /* Color of the scrollbar thumb */
    border-radius: 0.625em;
}

.listed-events::-webkit-scrollbar-thumb:hover {
    background: #09930c; /* Color of the scrollbar thumb on hover */
}

.listed-event {
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5);
    border: 0.0625em solid rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 1.2em;
    flex-direction: column;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar thumb and track */
}

.selected-event {
    transition: 0.1s ease-in-out;
    background-color: #0da0c5;
    color: white;
    border: 0.0625em solid rgba(0, 0, 0, 0);
}

.listed-event-item {
    display: flex;
    gap: 0.5em;
}

.listed-event-item p {
    margin: 0.5em 0;
    font-size: 0.9em;
}

.event-title {
    font-weight: 900;
    font-size: 1.1em;
    color: #0da0c5;
    margin: 0.3em 0;
}

.selected-event .listed-event-item {
    color: white;
}

.event-item-key {
    font-weight: 700;
    white-space: nowrap;
}

.event-location, .event-time, .event-organizer, .event-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}